<div class="col-md-6 offset-md-3">
    <br>
    <h3 class="col-md-6 offset-md-4">Create Records</h3>
    <form (ngSubmit) = "onSubmit()">

    <br>
    <div class="form-group">
        <label> First Name</label>
        <input type="text" class="form-control" id="fname"
        [(ngModel)]= "records.fname" name ="fname">
    </div><br>

    <div class="form-group">
        <label> Last Name</label>
        <input type="text" class="form-control" id="lname"
        [(ngModel)]= "records.lname" name ="lname">
    </div><br>

    <div class="form-group">
        <label>Pincode</label>
        <input type="text" class="form-control" id="pincode"
        [(ngModel)]= "records.pincode" name ="pincode">
    </div><br>

    <div class="form-group">
        <label>DOB</label>
        <input type="text" class="form-control" id="dob"
        [(ngModel)]= "records.dob" name ="dob">
    </div><br>

    <div class="form-group">
        <label> Date Of Joining</label>
        <input type="text" class="form-control" id="dateOfJoining"
        [(ngModel)]= "records.dateOfJoining" name ="dateOfJoining">
    </div><br>

    <button class="btn btn-success" type="submit">Submit</button>
</form>
</div>